/* | GENERAL | */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  height: 100vh;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2.5em;
}

#app {
  height: 100vh;
  background: #fcfafa;
  color: #707070;
  transition: all 0.3s linear;
}

/* | HEADER | */
header {
  width: 1300px;
  margin: 0 auto;
  padding: 30px 0;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  width: 80%;
  text-align: center;
  padding-left: 150px;
}

header p {
  width: 50px;
}

.dark_box {
  width: 60px;
  height: 30px;
  margin: 0 20px;
  background-color: #27262c;
  border: 1px solid #707070;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  transition: all 0.3s linear;
}

.dark_box .dark_switch {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #0b8c56;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-10%, -10%);
  transition: all 0.3s linear;
}

/* | MAIN | */
.container {
  width: 1300px;
  margin: auto;
}

/* * Progress Bar * */
.progress_box {
  width: 100%;
  height: 10px;
  border-top: 0.5px solid #1f1e25;
}

.progress_bar {
  width: 10%;
  height: 100%;
  background-color: #70ae6e;
  transition: all 0.5s linear;
}

/* | Sezione Input elementi | */
.input_box {
  text-align: center;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_box input {
  width: 250px;
  height: 50px;
  border-radius: 10px;
  color: #70707070;
  border: 1px solid #70707070;
  padding: 5px;
  margin-right: 50px;
  transition: all 0.3s linear;
}

input:focus {
  border: none;
  color: #707070;
  transition: all 0.3s linear;
}

.input_box i {
  background: #3b3b58;
  padding: 10px;
  font-size: 1.3em;
  border-radius: 50%;
  color: #fcfafa;
  cursor: pointer;
  transition: all 0.3s linear;
}

/* | Sezione Tasks da fare | */
.todo_box {
  margin-bottom: 50px;
}

.todo_box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.todo_box .title i {
  font-size: 2em;
  color: #70ae6e;
  margin-right: 45px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.todo_box .list_box ul li,
.completed_box .list_box ul li {
  height: 55px;
  background: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.18);
  border-radius: 20px;
  line-height: 55px;
  padding: 0 40px;
  margin-bottom: 20px;
  font-size: 1.3em;
  font-weight: 600;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}

.todo_box .list_box ul li .edit_element {
  display: flex;
  align-items: center;
}

.todo_box .list_box ul li .edit_element > i {
  margin-right: 23px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.todo_box .list_box ul li .edit_element > i.green {
  color: #70ae6e;
  transition: all 0.3s linear;
}

.todo_box .list_box ul li .edit_element input {
  width: 1000px;
  border: none;
  font-size: 1em;
  color: #3b3b58;
  font-weight: 800;
  height: 30px;
  border-radius: 10px;
  transition: all 0.3s linear;
}

.todo_box .list_box ul li .move_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}

.todo_box .list_box ul li .move_element i {
  cursor: pointer;
  color: #707070;
}

.todo_box .list_box ul li .move_element i.deactive {
  color: #70707040;
}

.todo_box .list_box ul li .checkbox {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  border: 1px solid #707070;
  background: #fcfafa;
  cursor: pointer;
  transition: all 0.3s linear;
}

/* | Sezione COMPLETATI | */
.completed_box {
  padding-bottom: 10px;
}

.completed_box .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.completed_box .title i {
  font-size: 1.8em;
  margin-right: 45px;
  cursor: pointer;
}

.completed_box .list_box ul li {
  justify-content: space-between;
}

.completed_box .list_box ul li .checkbox {
  display: flex;
  align-items: center;
}

.completed_box .list_box ul li .checkbox p {
  color: #70707090;
  text-decoration: line-through;
}

.completed_box .list_box ul li .checkbox i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #3b3b58;
  color: #fff;
  margin-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.completed_box .list_box ul li .delete_box i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fe5f55;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* - DARK MODE - */

#app.dark {
  background: #19181f;
  color: #fcfafa;
}

.progress_box.dark {
  border-color: #707070;
}

.progress_bar.dark {
  background-color: #0b8c56;
}

.dark_box.dark {
  background-color: #fcfafa;
}

.dark_box .dark_switch.dark {
  background-color: #707070;
  animation: slideSwitch 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes slideSwitch {
  0% {
    left: 0;
  }
  100% {
    left: 30px;
  }
}

.dark_box .dark_switch.light {
  animation: slideSwitch1 0.3s linear;
  animation-fill-mode: forwards;
}

@keyframes slideSwitch1 {
  0% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}

.input_box input.dark {
  color: #707070;
  background: #27262c;
  border-color: #707070;
  outline: none;
}

.input_box input.dark:focus {
  color: #fcfafa;
  border-color: #fcfafa;
}

.input_box i.dark {
  background: #0b8c56;
}

.todo_box .list_box ul li.dark,
.completed_box .list_box ul li.dark {
  background: #1f1e25;
}

.todo_box .title i.dark {
  color: #0b8c56;
}

.todo_box .list_box ul li .edit_element > i.dark {
  color: #707070;
}

.todo_box .list_box ul li .edit_element > i.green.dark {
  color: #0b8c56;
}

.todo_box .list_box ul li .edit_element input.dark {
  background: #27262c;
  color: #707070;
}

.todo_box .list_box ul li .checkbox.dark {
  background: #707070;
}

.completed_box .list_box ul li .checkbox i.dark {
  background: #0b8c56;
}
