<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>ToDoList | Home Page</title>
    <!-- Favicon -->

    <!-- Link FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Link Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400;600;900&display=swap" rel="stylesheet">
    <!-- Link Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <!-- Link Moment JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment-with-locales.min.js" integrity="sha512-LGXaggshOkD/at6PFNcp2V2unf9LzFq6LE+sChH7ceMTDP0g2kn6Vxwgg7wkPP7AAtX+lmPqPdxB47A0Nz0cMQ==" crossorigin="anonymous"></script>
    <!-- Link foglio di stile personale -->
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section id="app" :class="(darkSwitch)?'dark':''">
        <!-- HEADER -->
        <header>
            <h1>To Do List</h1>
            <p>Light Mode</p>
            <div class="dark_box" :class="(darkSwitch)?'dark':''" @click="switchDark">
                <div class="dark_switch" :class="(mainSwitch == 0)?'':(mainSwitch == 1)?'dark':'light'"></div>
            </div>
            <p>Dark Mode</p>
        </header>
    
        <!-- MAIN -->
        <main>
    
            <!-- Contenitore principale Vue -->
            <section class="container">
                <div class="progress_box" :class="(darkSwitch)?'dark':''">
                    <div class="progress_bar" :class="(darkSwitch)?'dark':''" :style="{ width: barLength + '%' }"></div>
                </div>
    
                <!-- Sezione inserimento elementi lista -->
                <section class="input_box">
                    <input type="text" @keyup.enter="addTask" v-model="textList" placeholder="Inserisci un elemento" :class="(darkSwitch)?'dark':''">
                    <div class="btn add">
                        <i @click="addTask" class="fas fa-plus" :class="(darkSwitch)?'dark':''" title="Aggiungi elemento"></i>
                    </div>
                </section>
    
                <!-- Lista cose da fare -->
                <section class="todo_box">
                    <div class="title">
                        <h2>Lista cose da fare</h2>
                        <i v-if="toDoList.length > 0" @click="allTasks" class="fas fa-check-square" :class="(darkSwitch)?'dark':''" title="Segna tutti come completati"></i>
                    </div>
                    <div class="list_box">
                        <ul>
                            <li v-for="(element, index) in toDoList" :class="(darkSwitch)?'dark':''">
                                <div class="edit_element">
                                    <div class="move_element">
                                        <i @click="moveUp(index)" :class="(index == 0) ? 'deactive': ''" class="fas fa-caret-up"></i>
                                        <i @click="moveDown(index)" :class="(index == toDoList.length - 1) ? 'deactive': ''" class="fas fa-caret-down"></i>
                                    </div>
                                    <i @click="addEdited(index)" v-if="editTask == index" class="fas fa-check green" :class="(darkSwitch)?'dark':''" title="Conferma modifica"></i>
                                    <i v-else class="fas fa-pencil-alt" :class="(darkSwitch)?'dark':''" @click="editElement(index)" title="Modifica elemento"></i>
                                    <input @keyup.enter="addEdited(index)" v-if="editTask == index" type="text" :value="element" v-model="toDoList[index]" :class="(darkSwitch)?'dark':''">
                                    <p v-else>{{element}}</p>
                                </div>
                                <div @click="taskCompleted(index)" class="checkbox" :class="(darkSwitch)?'dark':''" title="Segna come completato"></div>
                            </li>
                        </ul>
                    </div>
                </section>
    
                <!-- Lista cose fatte -->
                <section class="completed_box">
                    <div class="title">
                        <h2>Compiti svolti</h2>
                        <i v-if="completedList.length > 0" @click="deleteAllElements()" class="far fa-trash-alt" title="Svuota tutta la lista"></i>
                    </div>
                    <div class="list_box">
                        <ul>
                            <li v-for="(element, index) in completedList" :class="(darkSwitch)?'dark':''">
                                <div class="checkbox">
                                    <i @click="reTask(index)" class="fas fa-arrow-up" :class="(darkSwitch)?'dark':''" title="Ripristina elemento"></i>
                                    <p>{{element}}</p>
                                </div>
                                <div @click="deleteElement(index)" class="delete_box" title="Elimina elemento">
                                    <i class="fas fa-times"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </section>

    <!-- Link Script Javascript -->
    <script src="js/script.js" charset="utf-8"></script>
</body>
</html>